<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/825e7491-d33e-474c-b975-168c09bd7ed1/resourceGroups/test/providers/Microsoft.Web/sites/SC-GRAPHQLTEST</ResourceId>
    <ResourceGroup>test</ResourceGroup>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://sc-graphqltest.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2276ea2c-4fbd-4cb6-8d0e-93301ca7e709</ProjectGuid>
    <PublishUrl>https://sc-graphqltest.scm.azurewebsites.net/</PublishUrl>
    <UserName>$SC-GRAPHQLTEST</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>